<%- include("header.ejs") %>

<div class="pure-g">
  <div class="pure-u-1-2">
    <h1>Invoice</h1>
  </div>
  <div class="pure-u-1-2" style="text-align: right">
    <p class="muted headerP">Issued on <%= createdDate %></p>
    <p class="muted headerP">Order  on <%= orderDate %></p>
  </div>
</div>
<div class="pure-g">

  <div class="pure-u-1-2" >
    <h3>Shipping address</h3>
    <p>
      <strong> <%= customer.customer %></strong><br />
      <%= customer.contact_name %><br />
      <%= customer.address %><br />
      <%= customer.city_state %><br />
      +6<%= customer.contact_number %><br />
      <%= customer.contact_email %>
    </p>
  </div>
</div>
<table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Sub total</th>
      <th>Discount</th>
      <th class="text-right">Total</th>
    </tr>
  </thead>
  <tbody>
    <% invoiceList.forEach(function(invoiceItem){ %>
      <tr>
        <td><%= invoiceItem.item_name %></td>
        <td>RM <%= invoiceItem.amount %></td>
        <td> <%= invoiceItem.quantity %></td>
        <td >RM <%= invoiceItem.subTotal %></td>
        <td >RM <%= invoiceItem.discount %></td>
        <td class="text-right">RM <%= invoiceItem.total %></td>
      </tr>

      <% }); %>
  
    <% feesList.forEach(function(fees,index){ %>
      <tr class="<%= index===feesList.length-1?'bold':'asd' %>">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= fees.name%>:</td>
        <td class="text-right">RM <%= fees.value%></td>
      </tr>

      <% }); %>
  
  </tbody>
</table>
<div class="footer">
  <span>Thank you!</span> <br/>
  <span>Insta Clone</span>
</div>

<%- include("footer.ejs") %>
